/*Universal*/
html {
  font-family: "Montserrat", "open sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/*Header*/
.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.brand {
  display: flex;
  padding-left: 1.5rem;
  height: 2rem;
  align-items: center;
}

.brand strong {
  font-weight: bold;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
}

.navigation a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

/*Banner*/
.banner {
  background-color: lightgray;
  display: flex;
  align-items: center;
  line-height: 1.2;
  width: 100%;
}

.banner img {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  height: 17rem;
  justify-content: space-between;
  padding: 1rem;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.banner-text h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

button {
  font-family: "abril fatface", serif;
  font-size: 1.7rem;
  padding: 1rem auto;
  border-radius: .25rem;
  background-color: #f4511e;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  color: #FFFFFF;
  height: 3rem;
  width: auto;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 1.5rem;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Information Main*/
.info {
  display: flex;
  max-height: 100%;
}

.main {
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 67%;
}

.main img {
  margin: 2rem 1.5rem;
  max-width: 100%;
}

#quote {
  margin: 1.5rem;

}
#quote h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

#quote p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* Information FYI */
.fyi {
  background-color: tan;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
}

.article {
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 95%;
}

.article .read {
  max-width: 65%;
  padding: 0 1rem;
}

.article img {
  padding: 0 1rem;
  width: 35%;
  height: auto;
}

.read h3,p {
  margin-bottom: .5rem;
}

.read h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.read a {
  text-decoration: none;
  color: lightblue;
}

/*Courses*/
.courses {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}

.courses h3 {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 2rem;
}

.classes {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 2rem 4.5rem;

}

.description {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 30%;
  line-height: 1.5rem;
  margin: 0 1rem 2rem 1rem;
}

.description img {
  height: auto;
  max-width: 100%;
}

.description h4 {
  font-size: 1.35rem;
  font-weight: bold;
  margin: 1rem 0;
}

.description p {
  margin: .5rem 0;
}

.course-text {
  margin: 1.5rem 1rem;
}

/*thesis*/
.thesis {
  display: flex;
  flex-flow: column;
}

.thesis span {
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem auto;
}

.thesis h5 {
  margin: 1.5rem 0 .5rem 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.thesis p {
  font-size: 1.2rem;
  font-weight: thin;
  line-height: 1.5;
  margin-left: 1.5rem;
  width: 80%;
}

.thesis-sections {
  display: flex;
}

.video {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 2rem;
}

.video video {
  margin: 1.5rem;
  width: 90%;
}

.thesis2 {
  display: flex;
  flex-direction: column;
  justify-content:
  width: 40%;
}

.click {
  display: flex;
}

.thesis2 img {
  height: auto;
  max-width: 35%;
  padding: 1.5rem;
}

.thesis2 span {
  width: 65%;
}
