/*Universal*/
html {
  font-family: "Montserrat", "open sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/*Header*/
.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  background-color: #ffffff;
  opacity: 0.8;
  width: 100%;
  margin: 0;
}

.brand {
  display: flex;
  padding-left: 1.5rem;
  height: 2rem;
  align-items: center;
}

.brand strong {
  font-weight: bold;
  color: #08B287;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
}

.navigation a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

/*Header Media Query*/
@media only screen and (max-width: 600px) {
  .header {
    height: 4rem;
    margin: 0;
    justify-content: space-around;
  }

  .navigation ul {
    display: none;
  }

  .brand {
    display: none;
  }

  .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/*Banner*/
.banner {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  line-height: 1.2;
  width: 100%;
  padding-top: 2rem;
}

.banner img {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  height: 17rem;
  justify-content: space-between;
  padding: 1rem;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.banner-text h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

button {
  font-family: "abril fatface", serif;
  font-size: 1.7rem;
  padding: 1rem auto;
  border-radius: .25rem;
  background-color: #f4511e;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  color: #FFFFFF;
  height: 3rem;
  width: auto;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 1.5rem;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Banner Media Query*/
@media only screen and (max-width: 600px) {
  .banner {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }

  .banner img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .banner-text h1 {
    margin: 2rem 1rem;
    font-size: 1.7rem;
  }

  .banner-text h2 {
    font-size: 1rem;
    margin: 0 0 1.5rem 1rem;
  }

  button {
    margin-bottom: 1.5rem;
  }
}

/*Information Main*/
.info {

  display: flex;
  max-height: 100%;
}

.main {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  width: 67%;
  margin: 0;
}

.main img {
  margin: 2rem 1.5rem;
  max-width: 100%;
}

#quote {
  margin: 1.5rem;

}
#quote h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

#quote p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

/*Information Main Media Query*/
@media only screen and (max-width: 600px) {
  .main {
    display: none;
  }
}

/* Information FYI */
.fyi {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
  background-color: #cccccc;
  margin: 0;
}

.article {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 95%;
  margin: 1.5rem;
}

.article .read {
  max-width: 65%;
  padding: 0 0 1rem 1rem;
}

.article img {
  padding-right: 1rem;
  width: 35%;
  height: auto;
  margin: 0;
}

.read h3,p {
  margin-bottom: .5rem;
}

.read h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.read a {
  text-decoration: none;
  color: #00B28E;
}

/*Information FYI Media Query*/
@media only screen and (max-width: 600px) {
  .fyi {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 1rem 2rem 1rem;
    background-color: #ffffff;
  }

  .article {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    width: auto;
    background-color: #bbbbbb;
  }

  .article img {
    display: none;
  }

  .article img.mobile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;
  }

  .article .read{
    width: 100%;
    padding-top: 1rem;
    text-align: left;
  }

  .read h3 {
    font-size: 1rem;
  }

  .read p {
    display: block;
    font-size: .7rem;
  }
}

/*Courses*/
.courses {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #a6a6a6;
}

.courses h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 2rem;
}

.classes {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 2rem 4.5rem;

}

.description {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  color: #333333;
  width: 30%;
  line-height: 1.5rem;
  margin: 0 1rem 2rem 1rem;
}

.description img {
  height: auto;
  max-width: 100%;
}

.description h4 {
  font-size: 1.35rem;
  font-weight: bold;
  margin: 1rem 0;
}

.description p {
  margin: .5rem 0;
  font-size: .9rem;
}

.course-text {
  margin: 1.5rem 1rem;
  text-align: center;
}

/*Courses Media Query*/
@media only screen and (max-width: 600px) {

  .courses {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .description {
    background-color: #FF6D39;
    color: #ffffff;
    width: 100%;
    padding: 1.5rem 1rem;
    margin: .5rem;
    text-align: left;
  }

  .description h4 {
    text-align: left;
    font-size: 1.4rem;
    margin: 0;
  }

  .course-text {
    margin: 0;
  }

  .course-text br {
    display: none;
  }

  .classes {
    width: 100%;
  }

  .description img,p{
    display: none;
  }
}

/*thesis*/
.thesis {
  display: flex;
  flex-flow: column;
}

.thesis span {
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem auto;
}

.thesis h5 {
  margin: 1.5rem 0 .5rem 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.thesis p {
  font-size: 1.2rem;
  font-weight: thin;
  line-height: 1.5;
  margin-left: 1.5rem;
  width: 80%;
}

.thesis-sections {
  display: flex;
}

.video {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 2rem;
}

.video video {
  margin: 1.5rem;
  width: 90%;
}

.thesis2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.click {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thesis2 img {
  height: auto;
  max-width: 35%;
  padding: 1.5rem;
}

.thesis2 span {
  width: 65%;
}

.thesis2 a {
  text-decoration: none;
  color: black;
}

/*thesis Media Query*/
@media only screen and (max-width:600px){

  .thesis2 {
    display: none;
  }

  .thesis span {
    text-align: center;
  }

  .thesis video {
    width: 100%;
    margin: 0;
  }

  .video h5,p {
    display: none;
  }

  .video {
    margin: 0;
    width: 100%;
  }
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  margin:1.5rem 2rem;
}

footer ul,li {
  display: flex;
  flex-direction: row;
  padding: .5rem;
}

/*footer media query*/
@media only screen and (max-width:600px) {
  footer ul {
    display: none;
  }

  footer span {
    font-size: .5rem;
  }
}
