/*Universal*/
html {
  font-family: "Montserrat", "open sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/*Header*/
.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.brand {
  display: flex;
  padding-left: 1.5rem;
  height: 2rem;
  align-items: center;
}

.brand strong {
  font-weight: bold;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
}

.navigation a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

/*Banner*/
.banner {
  background-color: lightgray;
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.banner img {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  height: 17rem;
  justify-content: space-between;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.banner-text h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

button {
  font-family: "abril fatface", serif;
  font-size: 1.7rem;
  padding: 1rem auto;
  border-radius: .25rem;
  background-color: #f4511e;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  color: #FFFFFF;
  height: 3rem;
  width: auto;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 1.5rem;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Information*/
.info {
  display: flex;
}

.main {
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.main img {
  margin: 2rem 1.5rem;
}

#quote {
  margin-left: 1.5rem;

}
#quote h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

#quote p {
  line-height: 1.5;
  margin-bottom: 2rem;
}
.fyi {
  width: 40%;
}
